.container {
  margin-top: 40px;
}

.card {
  padding: 20px;
}

.name {
  margin-top: 20px;
}

.alert-success {
  display: none;
}

.mega-nav {
  height: 100px;
  background-color: #fafafa;
  border-bottom: solid 1px #eee;
  display: none;
}

.navbar {
  border-bottom: solid 1px #eee;
}