.container {
  display: grid;
  grid-gap: 10px;
  grid-auto-columns: 1fr;
  grid-template-areas: 
    'nav nav'
    'a a'
    'f f';
}

.area1 {
  grid-area: a;
  background-color: antiquewhite;
}

.footer {
  grid-area: f;
  background-color: blue;
}

.meganav {
  grid-area: nav;
}

.card {
  padding: 20px;
}

.name {
  margin-top: 20px;
}

.alert-success {
  display: none;
}

.mega-nav {
  padding-top: 10px;
  padding-bottom: 0px;
  height: 100%;
  background-color: #fafafa;
  border-bottom: solid 1px #eee;
  display: none;
  animation-duration: 0.2s;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
}

.navbar {
  border-bottom: solid 1px #eee;
}

.fa-times {
  display: none;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}